.steps-wrapper {
  display: flex;
  justify-content: space-around;
}

.steps-wrapper > div {
  flex: auto;
  text-align: center;
  background: linear-gradient(180deg,
  rgba(0, 0, 0, 0) calc(50% - 1px),
  rgba(192, 192, 192, 1) calc(50%),
  rgba(0, 0, 0, 0) calc(50% + 1px)
  );
}

.step-in-progress {
  background: linear-gradient(180deg,
  rgba(0, 0, 0, 0) calc(50% - 1px),
  rgba(250, 132, 35, 1) calc(50%),
  rgba(0, 0, 0, 0) calc(50% + 1px)
  );
}

.step-submitted {
  background: linear-gradient(180deg,
  rgba(0, 0, 0, 0) calc(50% - 1px),
  rgba(0, 219, 37, 1) calc(50%),
  rgba(0, 0, 0, 0) calc(50% + 1px)
  );
}

.step-indicator {
  display: flex;
  justify-content: space-around;
}

.step-number {
  padding: 8px 18px;
  border: 2px solid lightgray;
  border-radius: 30px;
  background-color: #fff;
  font-weight: bold;
  font-size: 20px;
  color: lightgray;
}

.step-in-progress .step-number {
  border-color: #fa8423;
  color: #fa8423;
}

.step-submitted .step-number {
  border-color: #1b9139;
  color: #fff;
  background-color: #1b9139;
}

.form-item-number-of-submissions {
  text-align: center;
  font-size: 16px;
}

/*Just as an example*/
.multistep-form .multistep-error-message {
  color: #ff0000;
}
/*Just as an example*/
.multistep-form input.error {
  border: 2px solid #ff0000 !important;
}
