<!-- Custom twig html for progress bar field  -->
{% set classes = [
  'form-progress-bar-item',
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="step-indicator">
    <div class="step-number">{{ content }}</div>
  </div>
</div>
